name: Github JD-joy bot

on:
    workflow_dispatch: # 手动触发
    schedule:
        - cron: '00 04 * * *'
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout codes
              uses: actions/checkout@v2
              with:
                  ref: 'master'
            - name: Use Node.js
              uses: actions/setup-node@v1
              with:
                node-version: '12.x'
            - name: Run app
              run: npm install
            
            - run: bash run_joy.sh
              env:
                JD_COOKIE: ${{ secrets.JD_COOKIE }}
                JD_COOKIE_2: ${{ secrets.JD_COOKIE_2 }} 
                #PUSH_KEY: ${{ secrets.PUSH_KEY }}
                TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
